body {
    font-family: sans-serif;
    width: 100%;
    /*text-transform: uppercase;*/
    background: #40576d;
    background-size: cover;
    /*padding-top: 80px;*/
}

.login-form {
    width: 28%;
    margin: 0 auto;
    background: url(imagen/cd144-removebg-preview.png)no-repeat 0px 0px;
    background-size: 490px  490px;
    background-position: center;
    padding: 30px 33px 67px;
    /*border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-width: 2px solid;*/
    /*box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);*/
}
div form h1 {
    /*text-align:justify;*/
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 26px;
    /*color: #fff;*/
}
div form h1 b{
    font-size: 15px;
}
form{
    margin: 0 auto;
    font-size: 12px;
    text-align:right;
     /*width: 450px;
     margin: 0 auto;
     padding: 30px;*/
}

/*
form{
    
    border-radius: 3px;
    /*--color: #999;
    font-size: 0.8em;
    padding: 30px;
    
    margin: 0 auto;
    width: 450px;
}*/
.checkbok label{
    text-align: start;
    /*text-align:justify;*/
    font-size: 12px;
}

div label  b{
    color:rgb(0, 145, 255);
    font-size: 12px;
}

div label{
    text-align:left;
    
}