*{
    padding: 0;
    margin:0;
}
/*  */
.contact-from{
    /* background-color: #111; */
    font-size: 25px; /* tamaño de texto  */
    /* width: 50vw; 
    height: 50vh; */
}
.contact-from__h2{
    font-family: sans-serif; /* fuente de texto */
    line-height: 2; /* 1 line-height ocupa una letra ahora que pusimos 2 ocupa dos letras el ancho es mas drande  */
    font-weight: normal; /* grosor de texto se puede poner con numeros ejemplo 500*/
    font-stretch: normal;
    font-variant: small-caps;
}